@{
    Layout = "_Layout";
}
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">403</span></h1>
    <p class="output">Forbidden , You cannot Access This Page.</p>

</div>

@section Links{
    <link href="~/scss/error.min.css" rel="stylesheet" type="text/css" />
}