@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wilujeng dalu</h1>
    <p>pelajari tentang <a href="https://docs.microsoft.com/aspnet/core">membuat website dengan ASP Net core</a>.</p>
</div>
