@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di Home Page</h1>
    <p>Belum punya akun nya coba buat dulu <a href="/Auth/Register">Register</a>.</p>
</div>
